  <h2>Ingreso de producto</h2>
  <form action="/api/" method="post">
    <input type="text" name="title" required placeholder="Title"/>
    <input type="text" name="price" required placeholder="Price"/>
    <input type="text" name="thumbnail" required placeholder="Thumbnail"/>
    <button type="submit">Enviar</button>
  </form>
